@use '../components/utils' as u;


*,
*:after,
*::before {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: u.$base-font-size;
  background-color: u.$color-bg;
}

body {
  //font-family: u.$primary-font;
  color: u.$base-font-color;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: calc(800px + u.$mobile-container-padding-x);
  padding: {
    left: u.$mobile-container-padding-x;
    right: u.$mobile-container-padding-x;
  }
  margin: {
    left: auto;
    right: auto;
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input {
  padding: 10px;
  width: 100px;
}
input:focus:-moz-placeholder {
    opacity:0;
}

/* Firefox > 19 */
input:focus::-moz-placeholder {
    opacity:0;
}
input[type=submit] {
  curso
  : pointer;
}